.topic__el_theme_background_white{
  background: white;
}

.topic__el_theme_background_whitePink{
  background: #DFE2FF;
}

.topic__el_theme_background_redPink{
  background: #FFDEE1;
}

.topic__el_theme_background_pink{
  background: #FFD6FB;
}

.topic__el_theme_background_whiteGreen{
  background: #E2FFCF;
}

.topic__el_theme_background_whiteYellow{
  background: #FFF0BF;
}